# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Environment variables
.env

# Database
*.db
messages.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 